

/* Styles for the inventory */
.inventory{
    position:absolute;
    bottom:-70px;
    display:block;
    width:100%;
    @include transition(bottom 0.2s linear);
    left: 50%;
    
    &.open{
        bottom:0px;
    }

    .inventory-toggle{
        width:40px;
        margin:0 auto 10px auto;
        display:block;
        text-decoration: none;
        color:black;
        font-size:3.0em;

        &:hover{
            color:blue;
        }

        &.down{
            &:before{
                content: "\e602";
            }
        }
    }

    ul{
        @include block-left;
        @include reset-box;
        width:100%;
        padding:20px;
        background-color:grey;

        li{
            @include block-left;
            background-color:blue;
            height:30px;
            padding:0;

            a{
                width:100%;
                @include block-left;
                height:100%;
                font-size:1.5em;
                line-height: 1.5em;
                text-decoration: none;
                text-align: center;
                color:white;
            }
        }
    } // end the inventory ul
}


@media only screen and (max-width: $mobile){
	#site-footer{
		padding:20px 0 20px 0;
		margin:30px 0 0 0;
	}
}

