
/* ================ MAIN LAYOUT ELEMENTS ================ */

body,html{
    height:100%;
}

body {
    /* base font size */
    font-size:$base-font-size;
    @include em-line-height($base-font);
}


#game-wrapper{
    width:100%;
    height:100%;
    position:relative;
    overflow: hidden;

    #game-inner{
        position: relative;
        max-width: 1024px;
        min-width: 320px;
        margin: 0 auto;
        height:100%;
    }

    #canvas-wrapper{
        width:100%;
        height:100%;

        canvas {
            height:auto;
            width:100%;
        }
    }
}


*{
    @include border-box('#{$siteUrl}/assets/js/vendor/border-box.htc');
    @include sans-font;
}

.clear-both{
    clear:both;
    font-size:0px;
    line-height:0px;
    height:0px;
}

// Grid
@for $i from 1 through $cols {
    $new-width: ($col-width * $i ) + ($gutter-width * ($i - 1));
    .grid-#{$i} {
        width: $new-width;
        margin: 0 $gutter-width 0 0;
    }
}

.end {
    margin: 0;
}
