
/* ================ MAIN LAYOUT ELEMENTS ================ */

body,html{
    height:100%;
}

body {
    position:relative;
    overflow: hidden;
}


#game-wrapper{
    width:100%;
    height:100%;

    #game-inner{
        position:absolute;
        left:50%;
        top:50%;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    canvas{
        position:absolute;
    }
}

// styles for the door links
.door{
    width:10%;
    height:10%;
    display:block;
    position:absolute;

    // positional classes
    @for $i from 1 through 10{
        &.accross-#{$i}{
            left: percentage($i/10);
        }
        &.down-#{$i}{
            top: percentage($i/10);
        }
    }
}


*{
    @include border-box('#{$siteUrl}/assets/js/vendor/border-box.htc');
    @include sans-font;
}

.clear-both{
    clear:both;
    font-size:0px;
    line-height:0px;
    height:0px;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-uos');
    src:url('../fonts/icomoon.eot?#iefix-uos') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-uos') format('woff'),
        url('../fonts/icomoon.ttf?-uos') format('truetype'),
        url('../fonts/icomoon.svg?-uos#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
    content: "\e600";
}
.icon-arrow-up:before {
    content: "\e601";
}
.icon-arrow-down:before {
    content: "\e602";
}
.icon-user:before {
    content: "\e603";
}
.icon-lock:before {
    content: "\e604";
}
.icon-facebook:before {
    content: "\e605";
}
.icon-twitter:before {
    content: "\e606";
}
