
/* ================ MAIN LAYOUT ELEMENTS ================ */

body,html{
    height:100%;
}

body {
    /* base font size */
    font-size:$base-font-size;
    @include em-line-height($base-font);
    position:relative;
    overflow: hidden;
}


#game-wrapper{
    width:100%;
    position:relative;

    // aspect ratio haxor
    &:after{
        content: "";
        display: block;
        padding-top: 60%;
    }

    #game-inner{
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
        max-height:100%;
    }

    canvas {
        height:auto;
        width:100%;
        position:absolute;
    }
}

// styles for the door links
.door{
    width:10%;
    height:10%;
    display:block;
    position:absolute;

    // positional classes
    @for $i from 1 through 10{
        &.accross-#{$i}{
            left: percentage($i/10);
        }
        &.down-#{$i}{
            top: percentage($i/10);
        }
    }
}


*{
    @include border-box('#{$siteUrl}/assets/js/vendor/border-box.htc');
    @include sans-font;
}

.clear-both{
    clear:both;
    font-size:0px;
    line-height:0px;
    height:0px;
}

// Grid
@for $i from 1 through $cols {
    $new-width: ($col-width * $i ) + ($gutter-width * ($i - 1));
    .grid-#{$i} {
        width: $new-width;
        margin: 0 $gutter-width 0 0;
    }
}

.end {
    margin: 0;
}
