<% layout('layout') -%>

<!-- Main menu -->
<div class="modal fade" id="main-menu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Main menu</h4>
            </div>
            <div class="modal-body">
                <%- partial('partials/mainNav') %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="game-wrapper" class="home">
    <div id="game-inner">
        <canvas id="sprites" width="1024px" height="768px">no support for canvas ... for realz?</canvas>
        <canvas id="graph" width="1024px" height="768px"></canvas>
        <canvas id="debugLayer" width="1024px" height="768px"></canvas>
    </div>
</div>
<!-- end site wraper -->

<!-- Start of the footer -->
<footer role="footer" id="footer-wrapper">

    <div class="inventory">
        <a href="#" title="show inventory" class="icon-arrow-up inventory-toggle"></a>

        <ul>
            <li class="grid-2"><a title="loop" draggable="true">Loop</a></li>
            <li class="grid-2"><a title="wire" draggable="true">Wire</a></li>
            <li class="grid-2"></li>
            <li class="grid-2"></li>
            <li class="grid-2"></li>
            <li class="grid-2 end"></li>
        </ul>
    </div>

</footer>
<!-- end oof the footer -->

<!-- Load all JS last -->
<script type="text/javascript" src="assets/js/script.min.js"></script>    