@import "compass/css3";

@import "icons/*.png";
@import "icons-2x/*.png";
@import "susy";
@import "animation";

$rgbapng_path: '/';
@import "rgbapng";

// Includes
@import "includes/_reset";
@import "includes/_settings";
@import "includes/_mixins";
@import 'includes/_typography';
@import 'includes/_forms';
@import 'includes/_header';
@import 'includes/_footer';
@import 'includes/_style';
@import 'includes/_responsive';

// Views
@import 'views/home';