<% layout('layout') -%>

<div id="game-wrapper" class="home">
    <div id="game-inner">
        <canvas id="sprites" width="1024px" height="768px">no support for canvas ... for realz?</canvas>
        <canvas id="graph" width="1024px" height="768px"></canvas>
        <canvas id="debugLayer" width="1024px" height="768px"></canvas>
    </div>
</div>
<!-- end site wraper -->

<!-- Start of the footer -->
<footer role="footer" id="footer-wrapper">

    <div class="inventory">
        <a href="#" title="show inventory" class="icon-arrow-up inventory-toggle"></a>

        <ul>
            <li class="grid-2"><a title="loop" draggable="true">Loop</a></li>
            <li class="grid-2"><a title="wire" draggable="true">Wire</a></li>
            <li class="grid-2"></li>
            <li class="grid-2"></li>
            <li class="grid-2"></li>
            <li class="grid-2 end"></li>
        </ul>
    </div>

</footer>
<!-- end oof the footer -->

<!-- Load all JS last -->
<script type="text/javascript" src="assets/js/script.min.js"></script>    