<% layout('layout') -%>

<div class="index">
	<div class="panel panel-primary">
	    
		<% if (!user) { %>
			<div class="panel-heading">
		    	<h2><span class="icon-lock"></span> Please login to play.</h2>
	    	</div>

	    	<div class="panel-body">
				<ul>
				    <li><a href="/auth/facebook" title="Log in using Facebook" class="facebook"><span class="icon-facebook"></span> Login using facebook</a></li>
				    <li><a href="/auth/twitter" title="Log in using Twitter" class="twitter"><span class="icon-twitter"></span> Login using Twitter</a></li>
				    <li><a href="/login" title="Log in to an existing account" class="user"><span class="icon-user"></span>Login to existing account</a></li>
				</ul>

				<h3>Register for a new account</h3>
				<p>There will be a form here</p>
			</div>

		<% } else { %>

			<div class="panel-heading">
		    	Hello, <%= user.displayName %>.
	    	</div>
		    <div class="panel-body">
		    	<a href="/game" title="play the game">Play</a>
	    	</div>

		<% } %>

	</div>
</div>