<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>Gareth Game</title>

        <!-- DNS PREFETCH 
        <link rel="dns-prefetch" href="//fonts.googleapis.com" />-->

        <!--[if lt IE 9]>
            <script src="assets/js/vendor/htmlshiv.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            var html = document.getElementsByTagName("html")[0];
            if(html.className == "no-js") {
                html.className = html.className.replace("no-js", "js");
            } 
            var siteAssetsPath = '/assets';
        </script>

        <!-- META -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1" />
        <meta name="description" content="Gareths awesome game" />
        <meta name="author" content="Gareth Fuller" />
        <meta name="keywords" content="game, awesome, gareth" />
    
        <!-- Humans file -->
        <link rel="author" type="text/plain" href="/humans.txt" />

        <!-- Favicons -->
        <link rel="shortcut icon" href="assets/favicons/16.png" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/favicons/57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/favicons/72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/favicons/114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/favicons/144.png" />
        
        <!-- CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/screen.css" media="screen" type="text/css"/>
        
              
        <!--Google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Limelight' rel='stylesheet' type='text/css'>

	</head>
 	<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
    <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
    <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

        <div class="container">

            <ul class="nav nav-pills">
                <li><a class="active" href="/">Home</a></li>
        		<% if (user) { %>
                    <li><a href="/account" title="your account">Account</a></li>
                    <li><a href="/logout" title="logout">Logout</a></li>
        		<% } %>
            </ul>
            
    		<%- body %>

        </div>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		
    </body>
</html>