<% layout('layout') -%>
<ul>
	<li><a href="/auth/facebook"><img src="assets/img/login-with-facebook.png"></a></li>
	<li><a href="/auth/twitter"><img src="assets/img/login-with-twitter.png"></a></li>
</ul>