/* Styles for the index page on the game */
.home{
	width:100%;
	height:100%;
	background: image-url('sample-image.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	canvas{
		position:absolute;
	}
}