/* Styles for the index page on the game */
.home{
	width:100%;
	height:100%;

	#game-inner{
		background: image-url('heaven.jpg') no-repeat; 
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
	}
	
	
	canvas{
		position:absolute;
	}


}