/* Styles for the index page (login in and registering) */
.index{
	height:100%;
	width:100%;

	.no-account{
		margin-top:20px;
	}


	h2{
		margin:0px;
		font-size:1.2em;
	}

	h3 {
		width:100%;
		font-size: 1.2em;

		a{
			display:block;
			width:100%;
			&:hover{
				text-decoration: none;
			}
		}
	}

	ul{
		list-style-type:none;
		@include reset-box;
		@include border-radius(5px);
		width:100%;
		margin:0 0 20px 0;

		li{
			width:100%;
			@include reset-box;

			a{
				display:block;
				width:100%;
				text-decoration:none;
				font-size:1.1em;
				color:$color-grey;
				background-color: #ddd;
				position:relative;
				padding:10px 0 10px 45px;

				&:hover{
					background-color: $color-blue;
					color:white;

					span{
						color:white;
					}
				}

				&.facebook{
					@include border-radius(5px 5px 0 0);
				}

				&.user{
					@include border-radius(0 0 5px 5px);
				}

				span{
					color:$color-grey;
					font-size: 1.5em;
					display:inline-block;
					position: absolute;
					left:10px;
					top:10px;
				}

			}
		}
	}
}