
$mobile: 600px;
$tablet: 850px;
$desktop: 960px;
$dekstopLarge: 1530px;

$base-font: 10;
$bodyFontSize: 10px;
$base-font-size: $bodyFontSize;

$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$gutter-padding: 0px;
$grid-padding: 10px;


$footer-height: 20;

$border-box-sizing: true;

$textColor: #555;
$borderColor:#999;
//green
$color1: #2cbd21;
//white
$color2: #fff;
//black
$color3: #000;

$siteUrl:'http://game.dev';
//$siteUrl:'http://www.game.com';