.icons-sprite {
  background: url('/assets/img/icons-s2dcd6d3b3a.png') no-repeat;
}

.icons-2x-sprite {
  background: url('/assets/img/icons-2x-s15c5cd744d.png') no-repeat;
}

.site-header h1 {
  font-size: 6.0em;
  line-height: 1.0em;
  color: #010101;
  font-family: 'Limelight', cursive;
  margin: 0;
  padding: 40px 0 40px 0;
  text-shadow: 0px 0px 10px #000;
  text-align: center;
}

/* Styles for the inventory */
.inventory {
  position: absolute;
  bottom: -70px;
  display: block;
  width: 100%;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
  left: 50%;
}
.inventory.open {
  bottom: 0px;
}
.inventory .inventory-toggle {
  width: 40px;
  margin: 0 auto 10px auto;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 3.0em;
}
.inventory .inventory-toggle:hover {
  color: blue;
}
.inventory .inventory-toggle.down:before {
  content: "\e602";
}
.inventory ul {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 20px;
  background-color: grey;
}
.inventory ul li {
  display: block;
  float: left;
  background-color: blue;
  height: 30px;
  padding: 0;
}
.inventory ul li a {
  width: 100%;
  display: block;
  float: left;
  height: 100%;
  font-size: 1.5em;
  line-height: 1.5em;
  text-decoration: none;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {
  #site-footer {
    padding: 20px 0 20px 0;
    margin: 30px 0 0 0;
  }
}
/* ================ MAIN LAYOUT ELEMENTS ================ */
body, html {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
}

#game-wrapper {
  width: 100%;
  height: 100%;
}
#game-wrapper #game-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
#game-wrapper canvas {
  position: absolute;
}

.door {
  width: 10%;
  height: 10%;
  display: block;
  position: absolute;
}
.door.accross-1 {
  left: 10%;
}
.door.down-1 {
  top: 10%;
}
.door.accross-2 {
  left: 20%;
}
.door.down-2 {
  top: 20%;
}
.door.accross-3 {
  left: 30%;
}
.door.down-3 {
  top: 30%;
}
.door.accross-4 {
  left: 40%;
}
.door.down-4 {
  top: 40%;
}
.door.accross-5 {
  left: 50%;
}
.door.down-5 {
  top: 50%;
}
.door.accross-6 {
  left: 60%;
}
.door.down-6 {
  top: 60%;
}
.door.accross-7 {
  left: 70%;
}
.door.down-7 {
  top: 70%;
}
.door.accross-8 {
  left: 80%;
}
.door.down-8 {
  top: 80%;
}
.door.accross-9 {
  left: 90%;
}
.door.down-9 {
  top: 90%;
}
.door.accross-10 {
  left: 100%;
}
.door.down-10 {
  top: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("http://localhost:3001/assets/js/vendor/border-box.htc");
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.clear-both {
  clear: both;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-uos");
  src: url("../fonts/icomoon.eot?#iefix-uos") format("embedded-opentype"), url("../fonts/icomoon.woff?-uos") format("woff"), url("../fonts/icomoon.ttf?-uos") format("truetype"), url("../fonts/icomoon.svg?-uos#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
  content: "\e600";
}

.icon-arrow-up:before {
  content: "\e601";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-user:before {
  content: "\e603";
}

.icon-lock:before {
  content: "\e604";
}

.icon-facebook:before {
  content: "\e605";
}

.icon-twitter:before {
  content: "\e606";
}

/* LESS THAN DESKTOP LARGE */
/* LESS THAN DESKTOP */
@media only screen and (max-width: 960px) {
  .main {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* LESS THAN TABLET */
/* LESS THAN MOBILE LANDSCAPE */
/* Styles for the index page (login in and registering) */
.index h2 {
  margin: 0px;
  font-size: 1.2em;
}
.index ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: block;
  float: left;
  width: 100%;
}
.index ul li {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}
.index ul li a {
  display: block;
  float: left;
  width: 100%;
  text-decoration: none;
  font-size: 1.3em;
  color: #333333;
  padding: 10px;
  background-color: #ddd;
}
.index ul li a:hover {
  background-color: #428bca;
  color: white;
}
.index ul li a:hover span {
  color: white;
}
.index ul li a span {
  margin: 0 10px 0 0;
  color: #333333;
  font-size: 1.5em;
  display: block;
  float: left;
}
