.icons-sprite {
  background: url('/assets/img/icons-s2dcd6d3b3a.png') no-repeat;
}

.icons-2x-sprite {
  background: url('/assets/img/icons-2x-s15c5cd744d.png') no-repeat;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography style sheet */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-pe7qdi");
  src: url("../fonts/icomoon.eot?#iefix-pe7qdi") format("embedded-opentype"), url("../fonts/icomoon.woff?-pe7qdi") format("woff"), url("../fonts/icomoon.ttf?-pe7qdi") format("truetype"), url("../fonts/icomoon.svg?-pe7qdi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
  content: "\e600";
}

.icon-arrow-up:before {
  content: "\e601";
}

.icon-arrow-down:before {
  content: "\e602";
}

/*[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
*/
body {
  /* base font size */
  font-size: 10px;
  line-height: 1.5em;
}

/* ======== Headings ======= */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  display: block;
  float: left;
  font-weight: 400;
  width: 100%;
}

h1 {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 400;
  margin: 15px 0 0 0;
  padding-bottom: 15px;
  color: #555555;
}

h2 {
  font-size: 2.3em;
  line-height: 1.2em;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0;
}

h4 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin: 0 0 15px 0;
}

h5 {
  padding: 0 0 10px 0;
}

/* ===== Global common elements ======= */
p {
  margin: 0 0 15px 0;
  color: #555555;
}

ul {
  list-style-type: disc;
  padding: 0 0 0 30px;
  margin: 15px 0 30px 0;
  display: block;
  float: left;
}
ul li {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
  color: #555555;
}

em {
  font-weight: 700;
}

a {
  outline: none;
  border: none;
  color: #2cbd21;
}

dl {
  margin: 15px 0;
  display: block;
  float: left;
  width: 100%;
}
dl dt, dl dd {
  display: block;
  float: left;
  color: #555555;
}
dl dt {
  width: 50%;
  font-weight: 700;
  margin-bottom: 10px;
}
dl dd {
  width: 50%;
  margin-bottom: 10px;
}

table {
  margin: 15px 0;
  width: 100%;
}
table tr th, table tr td {
  padding: 10px;
  color: #555555;
}
table tr th {
  font-weight: 700;
  color: white;
  background-color: #2cbd21;
}

strong {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  dl dd, dl dt {
    width: 100%;
    display: block;
    float: left;
    margin: 5px 0 0 0;
  }
  dl dd {
    margin-bottom: 15px;
  }
}
/* CSS validation overrides */
form fieldset {
  display: block;
  float: left;
  width: 96%;
}
form label,
form input,
form textarea,
form select {
  font-size: 1.4em;
}
form label {
  float: left;
  line-height: 1.8em;
  width: 40%;
  padding: 0;
  margin: 0;
}
form legend {
  margin: 0 0 10px 0;
  font-weight: 400;
  float: left;
  width: 96%;
  padding: 10px 2% 10px 2%;
  color: white;
}
form input,
form select {
  width: 59%;
  padding: 0;
  margin: 0 0 15px 0;
}
form input[type='search'] {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: #222222, 1px, 1px, 5px, inset;
  -moz-box-shadow: #222222, 1px, 1px, 5px, inset;
  box-shadow: #222222, 1px, 1px, 5px, inset;
}
form input[type='submit'] {
  border: none;
  overflow: visible;
  font-weight: 400;
  padding: 20px;
  margin: 10px 0 0 0;
  background-color: black;
  float: left;
  color: white;
}
form input[type='checkbox'] {
  width: 15px;
}

/* New input types */
progress,
meter {
  width: 100%;
  margin: 0 0 4% 0;
  display: block;
  float: left;
}

textarea {
  width: 100%;
  height: 50px;
}

@media only screen and (max-width: 960px) {
  form label {
    width: 100%;
    padding: 0 0 2% 0;
  }
  form input,
  form select {
    width: 92%;
    padding: 4%;
    margin: 0 0 2% 0;
  }
  form input[type='checkbox'] {
    padding: 0;
  }
}
.site-header h1 {
  font-size: 6.0em;
  line-height: 1.0em;
  color: #010101;
  font-family: 'Limelight', cursive;
  margin: 0;
  padding: 40px 0 40px 0;
  text-shadow: 0px 0px 10px #000;
  text-align: center;
}

/* Styles for the inventory */
.inventory {
  position: absolute;
  bottom: -70px;
  display: block;
  width: 100%;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
}
.inventory.open {
  bottom: 0px;
}
.inventory .inventory-toggle {
  width: 40px;
  margin: 0 auto 10px auto;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 3.0em;
}
.inventory .inventory-toggle:hover {
  color: blue;
}
.inventory .inventory-toggle.down:before {
  content: "\e602";
}
.inventory ul {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 20px;
  background-color: grey;
}
.inventory ul li {
  display: block;
  float: left;
  background-color: blue;
  height: 30px;
  padding: 0;
}
.inventory ul li a {
  width: 100%;
  display: block;
  float: left;
  height: 100%;
  font-size: 1.5em;
  line-height: 1.5em;
  text-decoration: none;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {
  #site-footer {
    padding: 20px 0 20px 0;
    margin: 30px 0 0 0;
  }
}
/* ================ MAIN LAYOUT ELEMENTS ================ */
body, html {
  height: 100%;
}

body {
  /* base font size */
  font-size: 10px;
  line-height: 1.5em;
}

#game-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#game-wrapper #game-inner {
  position: relative;
  max-width: 1024px;
  min-width: 320px;
  max-height: 1024px;
  min-height: 320px;
  margin: 0 auto;
  height: 100%;
}
#game-wrapper #canvas-wrapper {
  width: 100%;
  height: 100%;
}
#game-wrapper #canvas-wrapper canvas {
  height: auto;
  width: 100%;
  position: absolute;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("http://game.dev/assets/js/vendor/border-box.htc");
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.clear-both {
  clear: both;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
}

.grid-1 {
  width: 5.78704%;
  margin: 0 2.77778% 0 0;
}

.grid-2 {
  width: 14.35185%;
  margin: 0 2.77778% 0 0;
}

.grid-3 {
  width: 22.91667%;
  margin: 0 2.77778% 0 0;
}

.grid-4 {
  width: 31.48148%;
  margin: 0 2.77778% 0 0;
}

.grid-5 {
  width: 40.0463%;
  margin: 0 2.77778% 0 0;
}

.grid-6 {
  width: 48.61111%;
  margin: 0 2.77778% 0 0;
}

.grid-7 {
  width: 57.17593%;
  margin: 0 2.77778% 0 0;
}

.grid-8 {
  width: 65.74074%;
  margin: 0 2.77778% 0 0;
}

.grid-9 {
  width: 74.30556%;
  margin: 0 2.77778% 0 0;
}

.grid-10 {
  width: 82.87037%;
  margin: 0 2.77778% 0 0;
}

.grid-11 {
  width: 91.43519%;
  margin: 0 2.77778% 0 0;
}

.grid-12 {
  width: 100.0%;
  margin: 0 2.77778% 0 0;
}

.end {
  margin: 0;
}

/* LESS THAN DESKTOP LARGE */
/* LESS THAN DESKTOP */
@media only screen and (max-width: 960px) {
  .main {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* LESS THAN TABLET */
/* LESS THAN MOBILE LANDSCAPE */
/* Styles for the index page on the game */
.home {
  width: 100%;
  height: 100%;
}
.home #game-inner {
  background: url("../img/heaven.jpg") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.home canvas {
  position: absolute;
}
