
$mobile: 600px;
$tablet: 850px;
$desktop: 960px;
$dekstopLarge: 1530px;

$border-box-sizing: true;

$color-blue:#428bca;
$color-grey:#333;

$siteUrl:'http://localhost:3001';
//$siteUrl:'http://www.game.com';